<div class="homepage-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Search podcast episodes</h1>
  <p class="lead">Find out when you, your brand or your product are mentioned in a podcast. Use the search here or get notified by email when one of your search terms gets mentioned.</p>
</div>
<div class="container">

  <%= react_component("typeahead_search", { searchPath: search_path }) %>
  <br>
  <br>
  <br>
  <br>
</div>
