<div class="container min-vh-80">
  <div class="row align-items-center vh-100">
    <div class="col"></div>
    <div class="col-10 align-self-center">
      <h2 class="text-center">Search for a term mentioned in podcasts and receive email alerts</h2>
      <%= react_component("typeahead_search") %>
    </div>
    <div class="col"></div>
  </div>
</div>
