<div class="homepage-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Search podcast episodes</h1>
  <p class="lead">Find out when you, your brand or your product are mentioned in a podcast. Use the search here or get notified by email when one of your search terms gets mentioned.</p>
</div>

<div class="container">

  <%= react_component("typeahead_search", { searchPath: search_path }) %>

  <footer class="fixed-bottom container pt-4 my-md-5 pt-md-5">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src=<%= image_url('svg_icons/mic.svg') %>  alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">namedropped © 2020</small>
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">FAQ</a></li>
          <li><a class="text-muted" href="#">Pricing</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
