<div class="container">
  <footer class="container pt-4 my-md-5 pt-md-5">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src=<%= image_url('svg_icons/mic.svg') %>  alt="" width="24" height="24">
        <a href="mailto:feedback@namedropped.co?subject=feedback about namedropped" class="badge badge-warning">BETA</a>
        <small class="d-block mb-3 text-muted">namedropped © 2020</small>
      </div>

      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">FAQ</a></li>
          <li><a class="text-muted" href="#">Pricing</a></li>
          <li><a class="text-muted" href="#">Contact</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
