$spacer: 1rem;

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.homepage-header {
  max-width: 700px;
}

body {
  padding-bottom: 70px;
}

.episode {
  margin-top: ($spacer * 5) !important;
}

.episode-show {
  padding-top: ($spacer * 5) !important;
}

* {
  border-radius: 0 !important;
}
